html, body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.odin {
    width: 320px;
    height: 120px;
    border: groove 2px #000;
    position: relative;
    margin: 20px auto;
}

.odin:before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    border: solid 2px #000;
    height: 40%;
    width: 20px;
    top: 50%;
    transform: translate(100%, -50%);
    background: #000;
}

.odin:after {
    content: '';
    position: absolute;
    background: #f00;
    left: 0;
    height: 100%;
    width: 20%;
}

.odin:nth-child(2):after {
    background: #ff0;
    width: 75%;
}

.odin:nth-child(3):after {
    background: #008000;
    width: 0;
}
.odin:nth-child(3):active:after{
    background: #fff;
    animation: charging 3s linear alternate infinite;
}
@keyframes charging {
    0% {
        width: 0;
        background: #f00;
    }
    20% {
        width: 20%;
        background: #f00;
    }
    75% {
        width: 75%;
        background: #ff0;
    }
    100% {
        width: 100%;
        background: #008000;
    }
}
